<!DOCTYPE html>
<html lang="en">
    {% load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css'%}">
    <title>Home</title>
</head>
<body>
    {% if something %}
    <p>Hello</p>
    <p>Here is your output</p> <br>
    <ul>
    {%  for index, row in sum.iterrows %}
         <li>{{ row.values }}</li>
         
    
    
    {% endfor%}</ul>
    {% else %}
    <a href="/clean_excel/">Please upload a file</a>
    {% endif %}
    
    <script src="{% static 'js/main1.js' %}"></script>
</body>
</html>