

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{%static 'css/base.css'%}">
  <title>Document</title>
</head>
<body>
    <h2><a href="{% url 'MainPage' %}">Home</a> > Login</h2>


<form action="" method="POST">
  {% csrf_token%} 
  <h2>Log in</h2>
  <label for="username">Username</label>
<input type="text" name="username" id="username" required>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" required>
  <div class="error password"></div>
  <button style="cursor: pointer;">Log in</button>
  <br><br>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <br><br>
  <p>New here ?<a href="/register/" style="color:blue;">Register</a></p>
  <br>
  <p style="color:rgb(43, 87, 232);"><a href="/reset_password/">Forgot Password ?</a></p>



  
</form>

</body>
</html>
