


{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <title>Document</title>
</head>
<body>


    <h2><a href="{% url 'MainPage' %}">Home</a> > Enter new Password</h2>
    <!-- <p>Please enter your new password twice so we can verify you typed it in correctly</p> -->
    <form method="POST">
    {% csrf_token %}
<h3>    Please enter your new password </h3>
    {% for field in form %}
      <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}
    {% if form.errors %}
    <ul class="error">
      {% for field, errors in form.errors.items %}
        {% for error in errors %}
        <li class="password2 error">{{ error }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  {% endif %}
    <button type="submit">Reset Password</button></form>
</body>
</html>

