{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css'%}">
    <title>Document</title>
</head>
<body>
    <h2><a href="{% url 'MainPage' %}">Home</a> > Password Reset</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="form-group">
        <label>{{ field.label }}</label>
        {{ field }}
      </div>
    {% endfor %}
    <button type="submit">Reset Password</button>
  </form>
</body>
</html>

